$primary-color:#FFEFE7;
$secundary-color:#FFDAC6;
$tertiary-color:#BABD8D;
$quaternary-color:#FA9500;
$primary-text-color:#7C6A0A;
$font-stackl: 'IBM Plex Sans' , sans-serif;
$pharagraph-size: 1.5em;

@mixin flex-center($direction, $content, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
}

@mixin buttonStyle {
    button{
        background-color: $primary-color;
        border-style: none;
    }
}

body{
    margin: 0px;
    padding: 0px;
    background-color: $primary-color;
    font-family: $font-stackl;
}

nav {
    width: auto;
    @include flex-center(row, space-between, center);
    color: $primary-text-color;
    padding: 15px;
    p{
        font-size: $pharagraph-size;
        padding-left: 30px;
    }
    .icons{
        display: flex;

        gap: 20px;
        @include buttonStyle();
    }
}

article {
    width: auto;
    color: $primary-text-color;
    @include flex-center(row, space-around, center);
    padding-left: 50px;
    padding-right: 50px;

    .impact-section{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 20px;
    }

    h1{
        font-size: 3em;
        margin: 0px;
        padding: 0px;
    }

    p{
        font-size: $pharagraph-size;
    }

    button{
        width: 12vw;
        padding: 20px;
        background-color: $primary-text-color;
        color: $primary-color;
        border-style: none;
        border-radius: 20px;
        font-size: 1em;
    }

    img{
        width: 25vw;
        border-radius: 20px;
    }

    image-section{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}

section {
    width: auto;
    height: auto;
    padding: 60px;

    h2{
        color: $primary-text-color;
        font-size: 1.2em;
        text-align: center;
    }

    .healthcare{
        padding-bottom: 60px;
        h2{
            font-weight: 300;
        }

        .card-section{

            width: auto;
            height: auto;
            @include flex-center(row, center, center);
            flex-wrap: wrap;

            column-gap: 80px;
            row-gap: 80px;
            flex-wrap: wrap;

            .product-card{
                width: 20vw;
                height: auto;
                background-color: $secundary-color;
                color: $primary-text-color;
                border-radius: 20px;
                padding: 20px;
                .icon{
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: flex-end;
                    padding-bottom: 15px;

                    img{
                        width: 30px;
                        height: 30px;
                    }
                }
                .product-image{
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 16vw;
                        height: 50vh;
                        object-fit: cover;
                        border-radius: 10px;
                    }

                }
            }
        }
    }
    .forniture {
        @extend .healthcare;
        .card-section {
            .product-card {
                background-color: $tertiary-color;
                color: white;
                
            }
        }
    }
}

.about-us {
    padding-bottom: 60px;
    h2{
        font-weight: bold !important;
        padding-bottom: 60px;
    }
    .mission-section{
        @include flex-center(row, space-evenly, center);
        align-items: center;
        .earth{
            width: 40%;
            display: flex;
            gap: 30px;
            color: orange;
            p{
                font-size: $pharagraph-size;
            }
            img{
                width: 20vw;
                height: 30vh;
                object-fit: cover;
            }
        }

       .innovation{
            @extend.earth;
        }
       }
    }

.gallery {
    .gallery-images{
        @include flex-center(row, space-between, center);
        img{
            width: 25vw;
            height: 35vh;
            object-fit: cover;
            object-position: 5px 35%;
            border-radius: 15px;
            &:hover{
                transform: scale(1.05);
                transition: all 0.5s ease-in-out;
            }
        }
    }
}

.location {
    color: orange;
    h2{
        font-weight: bold!important;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .map{
        @include flex-center(row, center, center);
    }
    p{
        font-size: $pharagraph-size;
    }
}

.footer {
    background-color: $quaternary-color;
    width: 100%;
    height: auto;
    padding: 40px;
    color: white;
    font-weight: 30;
    .social-media{
        @include flex-center(row, center, center);
        align-items: center;
        gap: 20px;
       .social-icons{
            display: flex;
            @include buttonStyle();
        }
    }
}